# =========================
# Choose LLM providers
# =========================
PLAN_AGENT_PROVIDER=Ollama
PLAN_AGENT_MODEL=Deepseek-r1:32b
PLAN_AGENT_TEMPERATURE=0

TASK_AGENT_PROVIDER=Ollama
TASK_AGENT_MODEL=qwen2.5:14b
TASK_AGENT_TEMPERATURE=0

DEBUG_AGENT_PROVIDER=Ollama
DEBUG_AGENT_MODEL=qwen2.5:7b
DEBUG_AGENT_TEMPERATURE=0

CHECK_AGENT_PROVIDER=Ollama
CHECK_AGENT_MODEL=deepseek-r1:32b
CHECK_AGENT_TEMPERATURE=0

JUDGE_AGENT_PROVIDER=Ollama
JUDGE_AGENT_MODEL=qwen2.5:7b
JUDGE_AGENT_TEMPERATURE=0



# =========================
# Model Configurations
# =========================

# Ollama local server URL, if using local models
OLLAMA_BASE_URL=http://localhost:11434

# API keys
OPENAI_API_KEY=your_openai_api_key_here
GOOGLE_API_KEY=your_google_api_key_here

# =========================
# Runtime Settings
# ========================
RETRY_LIMIT=2